:root {
    --numRows: 4;
    --numCols: 5;
    --gridHeight: 200px;
}

$trippus-primary: #444f63;
$trippus-seconday: #ee7365;
$show: block;

/* ---------------------------------------------------- */

.mdl-layout__drawer,
.mdl-layout__header-row {
    background-color: $trippus-primary;
}

.mdl-button--fab.mdl-button--colored,
.mdl-button--fab.mdl-button--colored:hover {
    background-color: $trippus-seconday;
}

.overlay {
    display: $show;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 6;
    transition: all ease-out .3s;
}

.plus-btn-container {
    display: flex;
    flex-direction: column-reverse;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 7;
}

.plus-btn {
    margin-right: 0;
}

.plus-option {
    display: none;
    margin-bottom: 10px;
    padding-right: 9px;
    align-self: flex-end;
}

.plus-option-txt {
    display: inline;
    background-color: #fff;
    color: #666;
    padding: 4px;
    box-shadow: 1px 1px 1px;
    border-radius: 3px;
    margin-right: 13px;
}

.animation {
    display: $show;
    animation-name: speeddial;
    animation-duration: 0.2s;
}

@keyframes speeddial {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: $show;
        opacity: 0;
        transform: scale(0);
    }
    60% {
        transform: scale(1.2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.svg-font {
    font-size: 0;
}


/* ------ css grid ---------------------- */

.grid {
    display: grid;
    grid-template-rows: repeat(var(--numRows), var(--gridHeight));
    grid-template-columns: repeat(var(--numCols), 19%);
    grid-gap: 10px;
    grid-auto-flow: row dense;
}

.hej {
    color: $trippus-primary;
}