@import "material-components-web/material-components-web";
:root {
    --mdc-theme-primary: #444f63;
    --mdc-theme-primary-light: #525f77;
    --mdc-theme-secondary: #ee7365;
    --mdc-theme-secondary-light: rgba(238, 115, 101, 0.8);
    --numRows: 4;
    --numCols: 5;
    --gridHeight: 200px;
}

$theme-primary-color: #444f63;
$theme-primary-color-light: #525f77;
$theme-secondary-color: #ee7365;
$theme-secondary-color-light: rgba(238, 115, 101, 0.8);
$theme-third-color: #f9b035;
$white: #fff;
$show: block;
$google-shadow: 1px 3px 4px rgba(0, 0, 0, 0.3);
$google-shadow-elevated: 0 19px 38px rgba(0, 0, 0, 0.30),
0 15px 12px rgba(0, 0, 0, 0.22);
$trippus-font: 'Open Sans';
$cubic: cubic-bezier(0.5, 0.5, 0.2, 1);
body {
    margin: 0;
}

.remove {
    display: none;
}

%loaders {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

/* ------------------------------------------------ loading elements --------------------------------------------------------- */

.loading-absolute {
    margin: 0;
    background-color: $theme-primary-color;
    position: absolute;
    z-index: 10000;
    &.loaded {
        opacity: 0;
        transition: opacity 0.5s $cubic;
    }
    .loading-container {
        height: 100vh;
        width: 100vw;
        display: -ms-grid;
        -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        -ms-grid-rows: 1fr 1fr 1fr;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        .loading {
            height: 200px;
            width: 200px;
            -ms-grid-column: 4;
            -ms-grid-column-span: 4;
            text-align: center;
            -ms-grid-row: 2;
            -ms-grid-row-span: 3;
            grid-area: 2 / 2 / 3 / 3;
            align-self: center;
            justify-self: center;
            p {
                font: 100 20px $trippus-font;
                color: #ee7365;
            }
            .dots {
                .load1 {
                    background-color: #fff;
                }
                .load2 {
                    background-color: #ee7365;
                }
                .load3 {
                    background-color: #f9b035;
                }
                @for $i from 1 through 3 {
                    @keyframes load-#{$i} {
                        70% {
                            transform: translate3d(0px, 0px, 0px)
                        }
                        85% {
                            transform: translate3d(0px, -15px, 0px)
                        }
                        100% {
                            transform: translate3d(0px, 0px, 0px)
                        }
                    }
                    .load:nth-child(#{$i}) {
                        @extend %loaders;
                        animation: load-#{$i} 1.5s #{$i/8}s $cubic infinite;
                    }
                }
            }
            h1 {
                color: $white;
                &.hidden {
                    display: none;
                }
            }
            hr {
                width: 0;
                &.hidden {
                    display: none;
                }
            }
        }
    }
}

/* ------ css main grid ---------------------------------------- */

.grid {
    width: 1400px;
    margin: 20px auto 0;
    position: relative;
}

/* ------------------------------------------------------------- */

/* plus-button that turns into a box and scalable circle-------- */

.pseudo-circle,
.box {
    position: absolute;
    z-index: 9998;
    transform-origin: 20% 50%;
    left: 150px;
    top: 0;
}

.pseudo-circle {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    opacity: 0;
    overflow: hidden;
    transition: transform 0.3s $cubic, opacity 0.1s 0.1s;
}

.pseudo-circle.open {
    transition-delay: 0.2s;
    transform: scale(45);
    opacity: 1;
}

.box {
    transition: transform 0.3s cubic-bezier(0.4, 0, 1, 1), opacity 0.1s 0.1s, z-index 0.2s;
    opacity: 1;
    left: 50px;
    top: 20px;
    position: fixed;
    z-index: 9999;
    background-color: $theme-primary-color;
    border: 1px solid #fff;
    &.hidden {
        display: none;
    }
}

.box.open {
    transform: translate3d(50px, -30px, 0);
}

.box.open,
.box.open span {
    opacity: 0;
    z-index: -1;
}

.orange-background {
    width: 100vw;
    height: 100vh;
    background-color: $theme-primary-color;
}

.dashboard-toolbar {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    overflow: hidden;
    pointer-events: none;
    transition: opacity 0.3s;
    &.hidden {
        display: none;
    }
}

.dashboard-toolbar.open {
    pointer-events: auto;
    box-shadow: $google-shadow-elevated;
    transition: box-shadow 0.1s 0.3s;
}

.dashboard-toolbar .close {
    color: #fff;
    position: absolute;
    z-index: 10000;
    display: none;
}

.fade-out {
    opacity: 0;
    pointer-events: none;
    z-index: -100;
}

.menu-1 {
    opacity: 0;
}

.menu-1.show {
    position: absolute;
    z-index: 9999;
    width: 100%;
    height: inherit;
    opacity: 1;
    transition: opacity 0.1s 0.3s;
}

.overlay {
    position: fixed;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    z-index: 0;
    transition: opacity 1.3s $cubic;
    &.add {
        background-color: rgba($color: #fff, $alpha: 0.5);
        z-index: 9;
        opacity: 1;
    }
}

/* container-2----------------------------------------------------------------------------------- */

.out-of-sight {
    transform: translate3d(0, -115%, 0);
    transition-timing-function: cubic-bezier(.4, 0, 1, 1);
}

.container-2 {
    position: fixed;
    z-index: 10;
    transition: transform 300ms cubic-bezier(0.0, 0.0, 0.2, 1);
    background-color: $theme-primary-color;
    width: 100%;
    top: 0;
    left: 0;
    &.hidden {
        display: none;
    }
}

.graph-btn-grid {
    display: -ms-grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 20px;
    grid-gap: 15px;
}

/* tab-content----------------------------------------------------------------------------------- */

.mdc-tab-bar {
    transition: opacity 0.4s;
}

.mdc-tab-bar__indicator {
    background-color: #fff;
}

.mdc-tab {
    color: #fff;
    &:hover {
        color: #fff;
        background-color: rgba($color: #fff, $alpha: 0.1);
        transition: background-color 0.5s;
    }
}

.mdc-tab.mdc-ripple-upgraded::after,
.mdc-tab.mdc-ripple-upgraded::before {
    background-color: #fff;
}

.panels {
    margin-top: 15px;
}

.panel {
    display: none;
}

.panel.is-active {
    display: -ms-grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    display: grid;
    animation-name: tab-animation;
    animation-duration: .5s;
}

.panel-grid {
    -ms-grid-column-span: 3;
    -ms-grid-column: 1;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(4, 15%);
    grid-gap: 15px;
    justify-content: center;
}

.report-btn {
    height: 105px;
    font-size: 0.8rem;
    font-weight: 300;
    font-family: $trippus-font;
    border: 3px solid $theme-secondary-color-light;
    background-color: $theme-primary-color;
    margin: 5%;
    @for $i from 1 through 4 {
        &.report-#{$i} {
            -ms-grid-column: #{$i};
        }
    }
    $counter: 0;
    @for $i from 5 through 8 {
        $counter: $counter + 1;
        &.report-#{$i} {
            -ms-grid-column: #{$counter};
        }
    }
    $counter2: 0;
    @for $i from 9 through 12 {
        $counter2: $counter2 + 1;
        &.report-#{$i} {
            -ms-grid-column: #{$counter2};
        }
    }
}

.mdc-button__icon {
    margin-right: 0;
    width: 100%;
    text-align: center;
}

.md-48 {
    font-size: 48px;
}

.md-36 {
    font-size: 36px;
}

@keyframes tab-animation {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: $show;
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

:not(:disabled).mdc-button--raised,
:not(:disabled).mdc-button--unelevated {
    background-color: $theme-primary-color;
}

.card.card2.mdc-button {
    height: 105px;
    color: #fff;
    border: 3px solid $theme-third-color;
    @for $i from 1 through 4 {
        &.c#{$i} {
            -ms-grid-column: #{$i};
            margin: 5%;
        }
    }
}

/* ---------------------------------------------------------------------------------- */

/* charts ----------------------------------------------------------------------------*/

svg[aria-label="A chart."]>g>g:last-child {
    pointer-events: none;
}

/* .dd-vc {
    position: relative;
    transform: translateY(-50%);
} */

.dd-transition {
    transition: all .3s ease;
}

.shadow {
    box-shadow: $google-shadow;
}

.shadow-elevated {
    box-shadow: $google-shadow-elevated;
    transition: box-shadow 0.3s;
}

.dd-slot {
    float: left;
    -moz-user-select: none;
    user-select: none;
    position: relative;
    background-color: rgba(68, 79, 99, 0.03);
}

.dd-slot-num {
    text-align: center;
    width: 100%;
    position: absolute;
}

.dd-item {
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    z-index: 5;
    padding: 10px;
    cursor: pointer;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dd-selected {
    z-index: 20;
}

.close-container {
    position: absolute;
    top: 5%;
    right: 5%;
    color: #fff;
    transition: opacity 0.3s $cubic;
    opacity: 0.4;
    &:hover {
        opacity: 1;
    }
}

@media screen and (max-width: 400px) {
    .box {
        left: 75%;
        top: 10%;
    }
    .box.open {
        transform: translate3d(-50px, -30px, 0);
    }
    .box,
    .pseudo-circle {
        right: 50px;
    }
    .md-48 {
        font-size: 30px;
    }
    .md-36 {
        font-size: 22px;
    }
    .close-container {
        top: 7%;
        right: 6%;
    }
    .report-btn {
        font-size: 0;
    }
    .card.card2.mdc-button {
        height: 90px;
        color: #fff;
        border: 3px solid $theme-third-color;
        margin: 5%;
        @for $i from 1 through 4 {
            &.c#{$i} {
                -ms-grid-column: 1;
                -ms-grid-row: #{$i};
            }
        }
    }
    .graph-btn-grid {
        -ms-grid-columns: 1fr;
        -ms-grid-rows: 1fr 1fr 1fr 1fr;
    }
    .loading-absolute {
        .loading-container {
            -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
            .loading {
                -ms-grid-column: 2;
            }
        }
    }
}